* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d1e6f8;
}
/*Lines 10-51 are formating and styling for my header, nav bar and background image*/
header {
    height: 100px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-shadow: 5px 5px grey;
}
h1 {
    display: inline-block;
    font-size: 48px;
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
.top-image {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(/assets/IMG_0553.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    z-index: -1;
}
/*Lines 53-72 are styling and formating for my side bar aside*/
main {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}
aside {
    display: flex;   
}
.side-bar {
    display: flex;
    flex: 1;
    display: inline-block;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    line-height:470px;
    margin-bottom: 36px;
    color: #ffffff;
    text-align: center;
    font-size: 25px 
}
/*Lines 74-115 are styling and formating for my "about me' and largest "project" boxes.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.boxes {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

section {
    float:right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.content-boxes {
    border-radius: 20px;
    flex: 3;
    margin-bottom: 20px;
    padding: 20px;
    height: 350px;
    width: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background: rgba(244, 247, 244, 0.1);
    color: #ffffff;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content-boxes img {
    border-radius: 20px;
    max-height: 300px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Lines 117-156 are styling and formating for my smaller "project" boxes. */
.project-boxes {
    border-radius: 20px;
    height: 300px;
    width: 625px;
    margin:20px 25px 20px 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: rgba(244, 247, 244, 0.1);
    color: white;
 }

.project-boxes-img {
    border-radius: 20px;
    max-height: 200px;
    float: left;
}

.project-box-text {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.box-text {
    font-size: 15px;
    float: left;
    margin-left:10px;
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 25px;
    margin-left: 100px;
    line-height: 2;
}

h3 p {
    font-size: 20px;
    Color: white;
}

/* Lines 158-172 are my media queries, making my website modify to fit different screen sizes. */
@media screen and (max-width: 768px) {
    .media-screen {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 900px) {
    aside {
      display: none;
    }
    .large-boxes {
        width: 80%;
    }
  }

  
  




 


 